body {
    margin: 10px;
    background-image: url('background.jpg');
}

p {
    margin-top: 9px;
    font-size: 80%;
    margin-bottom: 9px;
    font-family: Arial, Helvetica, Geneva, Swiss, sans-serif;
}

h2 {
    margin-top: 9px;
    font-weight: bold;
    font-size: 120%;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, Geneva, Swiss, sans-serif;
    color: red;
}

h3 {
    margin-top: 17px;
    font-weight: bold;
    font-size: 100%;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, Geneva, Swiss, sans-serif;
    color: orange;
}

h4 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 120%;
    color: #fff;
}



a {
    color: #093
}


img {
    border: 0;
}

header {
    display: block;
    width: 600px;
    padding: 0;
    margin-bottom: 0;
    background-color: brown;
    color: red;
}

#head {
    padding: 0px;
    margin: 0px;
    height: 62px;
    background: #fff url(header_background.png) no-repeat left;
}

nav {
    display: block;
    float: left;
    width: 165px;
    height: 350px;
    background: #fff url(nav_background.jpg) no-repeat top;
}

#catalog {
    margin-top: 300px;
    margin-left: 25px;
}

article {
    padding: 0;
    margin-left: 170px;
    width: 435px;
    background-color: #fff;
    display: block;
}

footer {
    width: 600px;
    height: 100px;
    display: block;
    font-family: Arial, Helvetica, Geneva, Swiss, sans-serif;
    font-size: 80%;
    color: #afafaf;
    padding: 0;
    margin-top: 0;
    background: #000 url(footer_background.jpg) no-repeat left;
}

#address {
    margin-left: 10px;
    float: left;
}

#follow {
    margin-left: 275px;
}

#footerlinks {
    text-align: center;
}

#table
td.center {
    text-align: center;
}

table {
    font-family: Arial, Helvetica, Geneva, Swiss, sans-serif;
    font-size: 70%;
    width: 90%;
   
} 

table.center {
    margin-left: auto; 
    margin-right: auto;
}

td {
    padding:5px;
    height: 75px 
}

video.center {
 display: block;
 margin-left: auto;
 margin-right: auto;
} 

audio.center {
 display: block;
 margin-left: auto;
 margin-right: auto;
} 